# Compiled binaries
examples/etcd-controller/etcd-controller
examples/postgres-controller/postgres-controller
lt

# Claude Code
.claude/settings.local.json

# macOS
.DS_Store

# SSH keys
*.pem

# Terraform
loadtest/terraform/.terraform/
loadtest/terraform/.terraform.lock.hcl
loadtest/terraform/terraform.tfvars
loadtest/terraform/terraform.tfstate*

# envtest binaries
.envtest/

# Talk build artifacts
talk/build/
talk/output.mp4
